<div id="post_show_content" class="skinny_wrapper wrapper_padding">
	<header>
		<p class="date"><%= @project.created_at.strftime('%A, %B %d') %></p>
		<h1><%= @project.title %></h1>
		<hr>
	</header>

	<div id="content" class="post_show_content">
		<%= markdown @project.description %>
		<div>
			<%= image_tag(@project.image.url) %>
		</div>
		
		<div class="button_wrapper">
			<% if @project.github.empty? == false %>
				<a href="<%= @project.github %>" class="project_button" target="_blank">Visit Github</a>
			<% end %>
			<% if @project.link.empty? == false %>
				<a href="<%= @project.link %>" class="project_button" target="_blank">Visit <%= @project.title %></a>
			<% end %>
		</div>
	</div>
    <% if user_signed_in? %>
    <div id="admin_links" >
    	<%= link_to 'Edit', edit_project_path(@project) %>
	    <%= link_to 'Delete', project_path(@project), method: :delete, data: {confirm: "Are you sure?"} %>
	</div>
	<% end %>

	<hr>

	<div id="share_box">
		<p>Share</p>
		<!-- Twitter -->
		<a onclick="javascript:window.open('http://twitter.com/share?text=<%= @project.title %> by @sunny_santosh - &amp;url=<%= url_for([@project, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-twitter"></i></a>
        <!-- Facebook -->
        <a onclick="javascript:window.open('http://www.facebook.com/sharer.php?u=<%= url_for([@project, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-facebook"></i></a>
        <!-- Google Plus -->
        <a onclick="javascript:window.open('https://plus.google.com/share?url=<%= url_for([@project, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-google-plus"></i></a>
	</div>
	

	<hr>
</div>